

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>

list view - we could almost generate all this automatically for all tables using introspection,  
but we would need to be able to 

- actually we can... we need to introspect the table fields. then generating the query dynamically. 
- actually we ought to have the name on the actual pg object. that we map to ....  
- why not return a field array and field type

-- we can get our query result to return the field names and types. 

<table style="width:100%">
<tr>
    <td>uri</td>
    <td>name</td>
    <td>date</td>
  </tr>
<%  
	for @ret in query_sql_subject1( %{ select * from vocabulary_register }, nil  );
%>
  <tr>
    <td><a href='<%= @ret['uid'] %>'><%= @ret['uid'] %></a> </td>
    <td><%= @ret['name'] %></td>
    <td><%= @ret['date'] %></td>
  </tr>

<% end %>
</table> 


