

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>


<% @result = @conn.exec('select * from vocabulary_register') %> 


<table style="width:100%">
<tr>


<% for @i in 0..@result.nfields - 1
		@fname = @result.fname(@i) 
	 %>
	<td> <%= @fname  %> </td>
<% end %>

</tr>

<% for @row in @result %>

<tr>
	<% for @i in 0..@result.nfields - 1 
		@fname = @result.fname(@i) 
	%>
	<td> <%= @row[@fname] %> </td>
	<% end %>

</tr>

<% end %>

</table> 



